{% extends 'layouts/base.html' %} {% block title %} Crear Producto {% endblock %}
{% block content %}
<form action="{{ url_for('editar_producto', id=producto[0]) }}" method="POST">
  <div class="title-page">
    <h1>Editar usuario</h1>
  </div>

  <div class="form-group">
    <label for="codigo">Codigo</label>
    <input type="text" id="codigo" disabled
        name="codigo" class="form-control" 
        value="{{ producto[0] }}"/>
  </div>

  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" 
        name="nombre" class="form-control" 
        value="{{ producto[1] }}"/>
  </div>

  <div class="form-group">
    <label for="cantidad">Cantidad</label>
    <input type="text" id="cantidad" name="cantidad" 
        class="form-control" 
        value="{{ producto[2] }}"/>
  </div>

  <div class="footer-page">
    <a href="{{ url_for('productos') }}" class="btn">Volver</a>
    <button type="submit" class="btn btn-success">Guardar</button>
  </div>
</form>
{% endblock %}